/* Contenedor principal */
.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa; /* Fondo azul claro */
  padding: 2rem;
}

/* Header con botones */
.dashboard-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

/* Estilo de los botones de configuración y cerrar sesión */
.header-button {
  background-color: #00796b;
  color: white;
  padding: 0.75rem;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Arial', sans-serif;
}

.header-button:hover {
  background-color: #004d40;
}

/* Estilo de la foto de perfil */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile-picture-container {
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
  position: absolute;
  top: 10%;
  left: 5%;
}

.profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #00bcd4; /* Borde color agua */
}

.profile-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f8f7;
  border-radius: 50%;
  color: #00796b;
  font-weight: bold;
}

.file-input {
  margin-top: 1rem;
}

.dashboard-email {
  margin-top: 120px;
  font-size: 1.2rem;
  color: #00796b;
}

.user-description {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #00796b;
  text-align: center;
  font-style: italic;
}

/* Sección para las acciones */
.dashboard-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.action-button {
  background-color: #00796b;
  color: white;
  padding: 0.75rem;
  margin-bottom: 1rem;
  width: 200px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #004d40;
}
