/* Estilos para el contenedor de productos */
.products-container {
  padding: 20px;
}

.category-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-menu button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-menu button:hover {
  background-color: #45a049;
}

/* Estilos para los productos */
.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background-color: #f4f4f4;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  margin-top: 10px;
}

.product-price {
  font-weight: bold;
  margin-top: 10px;
}

/* Estilos para reseñas */
.review-textarea {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-review-button,
.view-reviews-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
 
}